@model IEnumerable<HMS.Entities.Models.Department>


<div class="container p-4">

    <div class="row pb-2">

        <div class="col">
            <h1 class="text-white">Department List</h1>


        </div>
          @if (User.IsInRole("Admin"))
          {
        <div class="col d-flex justify-content-end pt-1">
            <a asp-controller="Department" asp-action="Add" class="btn btn-outline-primary">Create New Department <i class="bi bi-window-plus"></i></a>
        </div>
          }
    </div>




<table class="table table-bordered table-hover table-info">

    <thead>
    <th>Department Id</th>
    <th>Department Name</th>

    </thead>
<tbody>

        @foreach(var item in Model)
        {
            <tr>

            <td>@item.Id</td>


            <td>@item.Name</td>
                    @if (User.IsInRole("Admin"))
                    {
                        <td> <a asp-action="UpdateDepartment" asp-controller="Department" asp-route-id="@item.Id" class="btn btn-success">Update <i class="bi bi-pencil-square"></i></a></td>
                        <td> <a asp-action="ConfirmDelete" asp-controller="Department" asp-route-id="@item.Id" class="btn btn-danger">Delete<i class="bi bi-trash"></i></a></td>

                    }
                   
            </tr>
          


        }
</tbody>

</table>
</div>
