@model DepartmentViewModel


<form asp-action="UpdateDepartment" asp-controller="Department">


    <div class="container border-3 p-3 mb-3">
        <h1 class=" text-white">Update Department</h1>
        <hr />
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-2">
                <label asp-for="Name" class="control-label text-white"></label>

            </div>
            <div class="col-10 pb-3">
                <input asp-for="Name" class="form-control pt-2 " />
                <span asp-validation-for="Name" class="text-danger"></span>

            </div>

            <div class="col-5 offset-2">
                <input type="submit" value="Update" class="btn btn-success form-control" />
            </div>
            <div class="col-5 ">
                <a asp-action="GetAllDepartments" asp-controller="Department" class="btn btn-primary form-control">Back</a>
            </div>

        </div>



    </div>



</form>