@model HMS.Entites.ViewModel.RegisterStaffRequestVM

<form asp-action="Create" asp-controller="Staff">


    <div class="container border-3 p-3 mb-3">
        <h1 class=" text-white">Add New Staff Member</h1>
        <hr />
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-2">
                <label asp-for="FullName" class="control-label text-white"></label>

            </div>
            <div class="col-10 pb-3">
                <input asp-for="FullName" class="form-control pt-2 " />
                <span asp-validation-for="FullName" class="text-danger"></span>

            </div>
            <div class="col-2">
                <label asp-for="Username" class="control-label text-white"></label>

            </div>
            <div class="col-10 pb-3">
                <input asp-for="Username" class="form-control pt-2 " />
                <span asp-validation-for="Username" class="text-danger"></span>

            </div> <div class="col-2">
                <label asp-for="Address" class="control-label text-white"></label>

            </div>
            <div class="col-10 pb-3">
                <input asp-for="Address" class="form-control pt-2 " />
                <span asp-validation-for="Address" class="text-danger"></span>

            </div> <div class="col-2">
                <label asp-for="Email" class="control-label text-white"></label>

            </div>
            <div class="col-10 pb-3">
                <input asp-for="Email" class="form-control pt-2 " />
                <span asp-validation-for="Email" class="text-danger"></span>

            </div> <div class="col-2">
                <label asp-for="Password" class="control-label text-white"></label>

            </div>
            <div class="col-10 pb-3">
                <input asp-for="Password" class="form-control pt-2 " />
                <span asp-validation-for="Password" class="text-danger"></span>

            </div> <div class="col-2">
                <label asp-for="Qualification" class="control-label text-white"></label>

            </div>
            <div class="col-10 pb-3">
                <input asp-for="Qualification" class="form-control pt-2 " />
                <span asp-validation-for="Qualification" class="text-danger"></span>

            </div> <div class="col-2">
                <label asp-for="Position" class="control-label text-white"></label>

            </div>
            <div class="col-10 pb-3">
                <input asp-for="Position" class="form-control pt-2 " />
                <span asp-validation-for="Position" class="text-danger"></span>

            </div>
            <div class="col-2">
                <label asp-for="DepartmentId" class="control-label text-white"></label>

            </div>
            <div class="col-10 pb-3">
                <select asp-for="DepartmentId" asp-items="@ViewBag.Depts" class="form-control pt-2">
                    <option disabled selected>--Please Choose a Department--</option>
                </select>
                <span asp-validation-for="DepartmentId" class="text-danger"></span>
            </div>


            <div class="col-5 offset-2">
                <input type="submit" value="Create" class="btn btn-success w-100" />
            </div>
            <div class="col-5 ">
                <a asp-action="Index" asp-controller="Staff" class="btn btn-primary w-100">Back</a>
            </div>

        </div>


    </div>





</form>